<% provide(:title, (t".title")) %>
<h1><%= t".title" %></h1>
<p>
  The <a href="http://www.railstutorial.org/"><em><%= t".stt1" %></em></a> <%= t".stt2" %>
  <a href="http://www.railstutorial.org/book"><%= t".stt3" %></a> <%= t".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t".stt4" %></a>
  <%= t"stt5" %>
  <a href="http://rubyonrails.org/"><%= t".stt6" %></a>.
  <%= t".cont" %>
</p>
